name: Crowdin Sync

on:
  workflow_dispatch:

  schedule:
    - cron: '0 0 * * *'
  push:
    branches: [main]

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest
    environment: crowdin

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: crowdin action
        uses: crowdin/github-action@v2
        with:
          upload_translations: true
          download_translations: true
          source: 'apps/next/src/localization/locales/en/**/*.json'
          translation: 'apps/next/src/localization/locales/%locale%/%original_file_name%'
          base_url: 'https://ava-labs.crowdin.com'
          pull_request_title: 'chore(translations): New Crowdin translations by Github Action'
          pull_request_team_reviewers: 'core-extension'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ vars.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
